body{
    background-color: aqua;
    background-image: url(sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1, h2{
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 150px;
}

ol, a{
    text-align: center;
    color: red;
}

p{
    text-align: center;
}
