body {
    padding: 0 100px;
}

b {
    color: green;
}

.contents{
    margin-left: 10px;

}

#contents{
    border: solid;
    width: 700px;
}

.draft {
    padding-left: 60px;
}

h4 {
    padding-left: 40px;
}

h5 {
    padding-left: 20px;
}

ul {
    padding-left: 70px;
}

#html2 {
    padding-left: 40px;
}

#html3 {
    padding-left: 40px;
}

#html4 {
    padding-left: 40px;
}

.htmldraft {
    padding-left: 40px;
}

.html04 {
    padding-left: 40px;
}

#html5 {
    padding-left: 20px;
}

.html5 {
    padding-left: 40px;
}

.links, p {
    padding-left: 25px;
}

#xhtml {
    padding-left: 60px;
}

.xhtml {
    padding-left: 80px;
}